.container {
  display: table;
  margin: 0 auto;
  width: 80%;
}

.container table {
  width: 100%;
}

.text {
  font-size: 18px;
}

.selection {
  display: flex;
  align-items: center;
}

.right {
  background-color: rgb(42, 207, 58);
}

.wrong {
  background-color: rgb(189, 40, 40);
}

.headerCell {
  background-color: rgb(59, 59, 59);
  color: white;
  height: 2rem;
}

.cell {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
  color: white;
  text-shadow: 2px 2px 2px #000000;
}

.servantIcon {
  width: 80px;
  height: 80px;
  display: block;
}

.servantIconSelection {
  margin-right: 10px;
}

.iconCell {
  width: 1%;
}

.btn{
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.title{
  text-align: center;
}

.turns{
  text-align: center;
}